<div class="row">
  <div class="col s12">
    <h3 class="center-align"><%= t('.course_listings') %></h3>
  </div>
</div>

<div class="row">
  <% @courses.each do |course| %>
    <%= content_tag :div, class: "col s6 m6", data: { qa: course.id } do %>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= course.name %></span>
          <p><%= t('.course_id') %>: <%= course.short_name %></p>
        </div>
        <div class="card-action">
          <% if logged_in? && !(current_user.courses.include?(course)) %>
            <%= link_to t('.enroll'), course_enroll_path(course_id: course.id), method: :post %>
          <% end %>
          <%= link_to t('.info'), course_path(course) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
