<%= render 'shared/errors', obj: @course %>

<div class="container">
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header"><%= t('.create_new_course') %></h3>
        <div class="row">
          <%= form_for(@course, html: { class: "col s12" }) do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :name, placeholder: t('.enter_course_name'), autofocus: true %>
                <%= f.label :name, class: 'active' %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :short_name, placeholder: t('.enter_course_short_name') %>
                <%= f.label :short_name, class: 'active' %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :description, placeholder: t('.enter_course_description') %>
                <%= f.label :description, class: 'active' %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.button("<i class=\"material-icons right\">arrow_forward</i>#{t('.create_course_button')}".html_safe,
                    class: "btn orange waves-effect waves-light right") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
